/* Write your CSS here */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button {
  margin: 16px;
  border-radius: 5px;
  padding: 13px;
  background-color: #ffffff;
  border-color: #ff0b37;
  color: #ff0b37;

}
